bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.lock
*.log
*.cache
*.vs/
.vscode/

*.suo
*.user
*.sln.ide
*.sln.docstates

project.lock.json
project.assets.json
global.json
appsettings.json
appsettings.Development.json

packages/
*.nupkg
*.snupkg

Migrations/

wwwroot/
node_modules/
dist/
build/

docker-compose.override.yml
.env

.gitattributes
